/* ---全局配置--- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before {
  box-sizing: border-box;
}

*::after {
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

video,
img {
  vertical-align: top;
}

body {
  font-size: 12px;
  color: white;
}

.page {
  max-width: 1920px;
  min-width: 1240px;
  overflow: hidden;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

.clearFix {
  zoom: 1;
}

.clearFix::after {
  content: '';
  display: block;
  clear: both;
}

.icon {
  background: transparent url('http://ossweb-img.qq.com/images/lol/v2/spr-v2.png') no-repeat 0 0;
  width: 27px;
  height: 27px;
  display: inline-block;
}


/* topbar */

.topbar-bg {
  background: #000;
}

.topbar-wrapper {
  width: 1240px;
  margin: 0 auto;
  position: relative;
}

#topbar {
  width: 1240px;
  margin-left: auto;
  margin-right: auto;
}


/* topbar logo */

#topbar .logo {
  width: 190px;
  height: 100px;
  position: absolute;
  z-index: 3;
  left: 0;
  top: 8px;
  cursor: pointer;
  background: transparent url('http://ossweb-img.qq.com/images/lol/v2/spr-v2.png') no-repeat 0 -32px;
}


/* topbar-navigation */

#topbar .topbar-navigation {
  float: left;
  margin-left: 195px;
  height: 90px;
}

#topbar .topbar-navigation>ul.menu1>li {
  float: left;
  font-size: 18px;
  text-align: center;
  line-height: 1;
  width: 120px;
  padding: 30px 0 24px;
}

#topbar .topbar-navigation>ul.menu1>li small {
  font-size: 10px;
  color: #838383;
  text-transform: uppercase;
}

#topbar .topbar-navigation>.menu2 {
  position: absolute;
  left: -145px;
  top: 100%;
  width: 1920px;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  padding: 1em;
}

#topbar .topbar-navigation:hover>.menu2 {
  display: block;
  z-index: 2;
}

#topbar .topbar-navigation>.menu2>ul {
  margin: auto;
  width: 1240px;
}

#topbar .topbar-navigation>.menu2>ul>li {
  float: left;
  width: 120px;
  text-align: center;
}

#topbar .topbar-navigation>.menu2 a {
  color: inherit;
  text-decoration: none;
  line-height: 1.6;
  font-size: 14px;
  display: block;
  padding-top: 5px;
}

#topbar .topbar-navigation>.menu2 a:hover {
  text-decoration: underline;
}

#topbar .topbar-navigation>.menu2 .icon-hot {
  background-position: -107px 0;
  width: 16px;
  height: 16px;
  vertical-align: middle;
}

#topbar .topbar-navigation>.menu2 .icon-new {
  background-position: -129px 0;
  width: 16px;
  height: 16px;
  vertical-align: middle;
}


/* topbar-icons */

#topbar .topbar-icons {
  float: left;
  height: 90px;
}

#topbar .topbar-icons>span {
  display: inline-block;
  height: 90px;
  cursor: pointer;
}

#topbar .topbar-icons .icon {
  margin: 27px 8px;
}

#topbar .topbar-icons .topbar-icons-search {
  background-position: -8px 0;
}

#topbar .topbar-icons .topbar-icons-mobile {
  background-position: -42px 0;
}


/* topbar-user */

#topbar .user {
  position: relative;
  z-index: 1;
  padding: 8px;
  float: right;
}

#topbar .user:hover {
  background: rgb(25, 25, 25);
}

#topbar .user>.avatar,
#topbar .user>.user-text {
  float: left;
}

#topbar .user>.avatar {
  background: transparent url('http://ossweb-img.qq.com/images/lol/v2/spr-v2.png') no-repeat 0 -169px;
  width: 74px;
  height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  margin-right: 20px;
}

#topbar .user>.avatar>img {
  border-radius: 50%;
  position: relative;
  z-index: -1;
}

#topbar .user>.user-text {
  font-size: 16px;
  color: white;
  width: 223px;
  padding-top: 15px;
}

#topbar .user>.user-text a {
  color: #dfb257;
  text-decoration: underline;
  margin: 0 3px;
  cursor: pointer;
}

#topbar .user>.user-text small {
  font-size: 12px;
  color: #999;
  margin-top: 10px;
}

#topbar .user>.user-popover {
  position: absolute;
  font-size: 14px;
  color: #868686;
  top: 100%;
  left: 0;
  background: rgba(27, 27, 27, 0.9);
  display: none;
}

#topbar .user:hover>.user-popover {
  display: block;
}

#topbar .user>.user-popover>p {
  margin: 30px 20px;
}

#topbar .user>.user-popover a {
  display: block;
  height: 36px;
  line-height: 36px;
  background: #161413;
  color: #e0e0e0;
  font-size: 12px;
  text-align: center;
}


/* banner */

.banner-wrapper {
  position: relative;
  width: 1240px;
  margin: 0 auto;
}

#banner {
  width: 1240px;
  position: relative;
  margin: 0 auto;
  height: 350px;
}


/* banner-bg */

.banner-wrapper>.banner-bg {
  position: absolute;
  width: 1920px;
  margin-left: -340px;
}

.banner-wrapper>.banner-bg>video {
  z-index: -1;
  height: 350px;
}


/* banner-text */

#banner .banner-text {
  position: absolute;
  top: 0;
  left: 0;
}

#banner .banner-text>h2 {
  font-size: 50px;
  line-height: 50px;
  padding-top: 40px;
  background: -webkit-linear-gradient(#f9e1a1, #b08631);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#banner .banner-text>p {
  font-size: 14px;
  color: #dbdbdb;
  text-shadow: 0 0 5px #000;
  height: auto;
  line-height: 1.5;
  margin-top: 12px;
  margin-bottom: 12px;
}

#banner .banner-text .banner-text-video {
  width: 222px;
  height: 122px;
  border: 1px solid #987630;
  box-shadow: inset 0 0 2px #000;
  position: relative;
  cursor: pointer;
}

#banner .banner-text .banner-text-video>i.banner-icon-play {
  position: absolute;
  display: block;
  width: 35px;
  height: 50px;
  top: 35px;
  left: 95px;
  background: transparent url('http://ossweb-img.qq.com/images/lol/v2/spr-v2.png') no-repeat -230px -30px;
}

#banner .banner-text>a {
  display: block;
  width: 159px;
  height: 40px;
  margin-top: 15px;
  border: 2px solid #bd9440;
  text-align: center;
  line-height: 36px;
  background: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  font-weight: bold;
  color: #c89b3c;
  border-image: linear-gradient(to bottom, #6b5024 0%, #b88d35 100%);
  border-image-slice: 1;
}


/* banner-version */

#banner .banner-version {
  position: absolute;
  font-size: 14px;
  bottom: 30px;
  right: 0;
  color: #888787;
}

#banner .banner-version>em {
  color: #f5d185;
  margin-right: 10px;
  font-style: normal;
}

#banner .banner-version>a {
  display: inline-block;
  padding: 0 15px;
  height: 26px;
  border: 2px solid #f5d185;
  text-align: center;
  line-height: 22px;
  background: rgba(0, 0, 0, 0.65);
  font-size: 12px;
  color: #f5d185;
  border-image: linear-gradient(to bottom, #6b5024 0%, #b88d35 100%);
  border-image-slice: 1;
}


/* menu */

.menu {
  position: relative;
  width: 100%;
  height: 80px;
  border-top: 2px solid #8c6c2d;
  background: url('http://ossweb-img.qq.com/images/lol/v2/spr-v2.png') repeat-x 0 -257px;
}

.fix-menu {
  position: fixed;
  top: 0;
  z-index: 10;
}

.menu ul {
  height: 60px;
  width: 1240px;
  margin: 0 auto;
}

.menu .dot {
  width: 13px;
  height: 50px;
  margin: 5px 18px;
  background: url('http://ossweb-img.qq.com/images/lol/v2/spr-v2.png') no-repeat -290px -30px;
}

.menu li {
  font-size: 20px;
  float: left;
  width: 110px;
  height: 60px;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  line-height: 58px;
  text-align: center;
  color: #555555;
}

.menu .cur {
  color: #d1ab57;
  border-bottom: 2px solid #d1ab57;
}